.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/weather.jpg");
    background-size: cover;
}

.card {
    display: flex;
    width: 1000px;
    height: 500px;
    border-color: black;
    border-radius: 5px;
    border-style: double;
    background-image: url("../images/weather.jpg");
    background-size: cover;
}

.cardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.bold-text {
    font-weight: bold;
}

.loginContent {
    display: flex;
}

.rightContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-form {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-widget {
    background-image: url("../images/cloud2.jpeg");
    background-size: cover;


}

.centeredText {
    text-align: center;
}

.biggerText {
    font-size: 28px;
}

.card-widget-top {
    background-image: url("../images/cloud.jpg");
    background-size: cover;
}

.card-widget-drop {
    /* background-image: url("D:\MyProject\LooseLab Intern\weather-application\src\assets\images\cloud.jpg"); */
    background-size: cover;
    border-radius: 5;
    max-width: 300px;
    border-color: black;
    border-style: double;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;

}

button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #00347f;
}

.days3-card{

    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    padding: bottom 25px;;
    padding-top: 20px;
    
}

.home-body{
    background-image: url("../images/cloudblue.jpg");
    background-size: cover; 
}